@media (min-width: 0px) {
    body {
        font-family: 'Roboto', sans-serif, 'Nanum Gothic', sans-serif, 'Open Sans', sans-serif;
        padding-top: 30px;
        padding-bottom: 20px;
        background: linear-gradient(-45deg, rgba(70, 127, 244, .7), rgba(249, 89, 89, .7)) fixed;
        background-size: cover;
        color: #f3f3f3
    }
    .form-signin {
        background: #f3f3f3;
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
        border-radius: 20px;
        border: 1px solid #ffffff77;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    hr {
        border: solid 1px #ffffff77
    }
}

@media (min-width: 760px) {
    body {
        font-family: 'Roboto', sans-serif, 'Nanum Gothic', sans-serif, 'Open Sans', sans-serif;
        padding-top: 30px;
        padding-bottom: 20px;
        background: linear-gradient(-45deg, rgba(70, 127, 244, .7), rgba(249, 89, 89, .7)) fixed, url(../images/welcome_backgound_1900.jpeg) fixed;
        background-size: cover;
        color: #f3f3f3
    }
    .form-signin {
        background: #f3f3f3;
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
        border-radius: 20px;
        border: 1px solid #ffffff77;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    hr {
        border: solid 1px #ffffff77
    }
}